<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Savagnier, gymnastique, volleyball, FSG, F.S.G., volley-ball, gym, volley, neuchâtel, région, tournoi, val-de-ruz" />
	<meta name="description" content="FSG Savagnier, club de gymnastique et volleyball de Savagnier" />
  <title>FSG Savagnier</title>
  <link rel="stylesheet" href="/public/style.css">
  <link rel="icon" type="image/x-icon" href="/img/logo/favicon.ico">
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
  <header>
    <h1>FSG Savagnier</h1>
    <nav>
      <a href="/accueil" hx-get="/accueil" hx-target="#main" hx-push-url="true">Accueil</a>
      <a href="/horaires" hx-get="/horaires" hx-target="#main" hx-push-url="true">Horaires</a>
      <a href="/societe" hx-get="/societe" hx-target="#main" hx-push-url="true">La société</a>
      <a href="/resultats" hx-get="/resultats" hx-target="#main" hx-push-url="true">Résultats</a>
      <a href="/contact" hx-get="/contact" hx-target="#main" hx-push-url="true">Contact</a>
    </nav>
  </header>
  <main id="main">
    
  </main>
  <footer>
    <p>&copy; 2025 FSG Savagnier</p>
  </footer>
</body>
</html>